.App {
  text-align: center;
}

.App-header {
  background-color: #d49af7;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(238, 248, 99);
  margin-bottom: 50px;
}

.main {
  display: flex;
  justify-content: space-around;
}